:root {
    --n-main-color: #131313;
    --n-secondary-color: #242424;
    --n-trinary-color: #EED9B1;
    --n-fourth-color: #EACA91;

    --l-main-color: #EDEAE3;
    --l-secondary-color: #E2DED4;
    --l-trinary-color: #2A2A2A;
    --l-fourth-color: #000000;

    --n-font: #000000;
    --l-font: #ffffff;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

.right-area {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
}